{% extends "base.html" %}
{% load static i18n %}

{% block title %}Наші статті{% endblock %}

{% block content %}

<main>
    <div class="content">
        <div class="blog-list">
            <h1>Блог</h1>
            <div class="post-list__list">
                {% for post in object_list %}
                    {% if post.publish or user.is_authenticated and user.is_staff %}
                    <h3><a href="{%url 'blog:blog-detail' post.slug%}">{{ post.title |safe }}</a></h3>
                    <img src="{{ post.image.url }}" alt="{{ post.title}}" width="500" height="300">
                    <hr>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</main>

{% endblock %}
