{% extends "base.html" %}
{% load static i18n %}

{% block title %}Наші статті{% endblock %}

{% block content %}

<main>
    <div class="content">
        <div class="blog">
            <h1>Блог</h1>
            <div class="blog__list">
                {% for post in object_list %}
                    {% if post.publish or user.is_authenticated and user.is_staff %}

                        <div class="blog__item-wrapper">
                            <a class="blog__item" href="{%url 'blog:blog-detail' post.slug%}">
                                <div class="blog__item-title">{{ post.title |safe }}</div>
                                <img src="{{ post.image.url }}" alt="{{ post.title}}" />
                            </a>
                        </div>

                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</main>

{% endblock %}
